<div class="flex">
  <div>
    <h1><%= @cocktail.name %></h1>
  </div>
</div>


<div class="row">
  <div class="col-xs-12 col-sm-6">
    <ul style="list-style: none;">
      <% @cocktail.doses.each do |dose| %>
        <li><%= dose.ingredient.name %> / <%= dose.description %> </li>
      <% end %>
    </ul>
  </div>
    <div class="col-xs-12 col-sm-6 col-sm-offset-6   ">
      <%= cl_image_tag @cocktail.photo? ? @cocktail.photo : "whisk_kek7wh.png", height: 300, width: 400, crop: :fill %>
      </div>
<div class="col-xs-12 col-sm-6 col-sm-offset-6">

  <% unless @cocktail.reviews.empty? %>
    <ul style="list-style: none;">
      <% @cocktail.reviews.each do |review| %>

        <li>
          <%= review.content %>
          <% review.rating.times do %>
          <i class = "fa fa-star"></i>
          <% end %>

          <% (5 - review.rating).times do  %>

          <i class="fa fa-star-o"></i>
          <% end %>
        </li>
      <% end %>
    </ul>
    <% end %>
</div>

    <div class="col-xs-12 col-sm-6 ">
      <%= simple_form_for [@cocktail, @review] do |f| %>
        <%= f.input :content %>
        <%= f.input :rating, collection: (0..5) %>
        <%= f.submit class: 'btn btn-success' %>

      <% end %>
    </div>
</div>


